@(urlForm: Form[UrlFormData], projectId: Long)(implicit messages: Messages)

@main("Add New URL") {
    <a class="btn btn-primary" role="button" href="@{routes.UrlController.listUrls(projectId)}">Back</a>
    @helper.form(action = routes.UrlController.insertUrl(projectId)) {
        @helper.select(urlForm("httpMethod"),
                        options = Seq("GET" -> "GET", "POST" -> "POST"),
                        'id -> "httpMethod",
                        '_label -> "Http Method")
        @helper.inputText(urlForm("name"), '_label -> "Name")
        @helper.inputText(urlForm("address"), '_label -> "Address")
        <div id="requestBody" style="display: none;">
        @helper.textarea(urlForm("body"), '_label -> "Request Body")
        </div>
        <input type="submit" value="Add URL" />
    }
}