@(projectId: Long, urls: Seq[Url])

@main("URLs") {
<a class="btn btn-primary" role="button" href="@{routes.ProjectController.listProjects}">Back</a>
<a class="btn btn-primary" role="button" href="@{routes.UrlController.showCreateUrlFormView(projectId)}">Add New URL</a>
<a class="btn btn-primary" role="button" href="@{routes.UrlController.fetchUrls(projectId)}">Fetch URLs</a>
<table class="table table-hover">
    <tr>
        <td>Name</td>
        <td>HTTP Method</td>
        <td>Address</td>
        <td>Delete</td>
    </tr>
    @for(url <- urls) {
    <tr>
        <td><a href="@{routes.UrlController.listUrlRecords(projectId, url.id)}">@url.name</a></td>
        <td>@url.httpMethod</td>
        <td>@url.address</td>
        <td><a href="@{routes.UrlController.deleteUrl(projectId, url.id)}">X</a></td>
    </tr>
    }
</table>
}
